/* Tab Buttons */
.game-mode-tabs {
    display: flex;
    gap: 10px;
  }
  
.game-tab {
    position: relative;
    background: rgb(68, 68, 68);
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    z-index: 1;
  }

.game-tab.active {
    background-color: rgb(253, 248, 229);
    color: rgb(20, 20, 20);
    z-index: 2;
  }
  
.game-tab:hover {
    background-color: #a8a8a8;
    color: #1d1d1d;
  }

.game-tab.active:hover {
    background-color: rgb(253, 248, 229);
  }
  
.game-modes {
    width: 100%;
    aspect-ratio: 2 / 1;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(253, 248, 229);
  }

.game-selector {
    display: none;
  }

.game-selector.active {
    height: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }  

.game-selector > div {
    display: flex;
    width: 80%;
    justify-content: space-around;
  }

.game-selector button {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4 / 1;
  background-color: #ffba26;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  font-size: clamp(1.6rem, 0.049rem + 2vw, 4rem);
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 2rem 4rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  /* max-width: 460px; */
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.game-selector button:focus {
  outline: 0;
}

.game-selector button:hover 
{
  background-color: #d1981d;

}

.game-selector button:after {
  content: '';
  position: absolute;
  border: 0.2vw solid rgb(253, 248, 229);
  bottom: 0.4vw;
  left: 0.4vw;
  width: calc(100% - 0.1vw);
  height: calc(100% - 0.1vw);
}

.game-selector button:hover:after {
  bottom: 2px;
  left: 2px;
}

.game-selector .online {
  display: none;
}

.game-selector .online.active {
  display: flex;
}

.game-selector form {
  width: 80%;
  height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-selector form button {
  width: 20%;
}

#lobby-list {
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.lobby-item {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  background-color: #ffba26;
  color: #000000;
  border-radius: 20px;
  gap: 5px;
  padding: 10px;
  align-items: center;
  width: 50%;
  /* aspect-ratio: 1 / 10; */
  /* min-width: 200px; */
}

.lobby-item:hover {
  background-color: #d1981d;
}

.lobby-item > img
{
  width: 10%;
  object-fit: cover;
}



#lobby {
  height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#lobby > div {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#lobby > div > button {
  aspect-ratio: 3 / 1;
  position: relative;
  background-color: inherit;
  color: #E5E7EB;
}

#lobby > div > button:hover {
  background-color: #1d1d1d;
}

#lobby > div > button > p {
  font-size: clamp(1.6rem, 0.049rem + 2vw, 4rem);
  position: absolute;
  top: 0;
  transform: translateY(-1.5em);
}

#lobby > div > button.player_selected {
  background-color:#1d1d1d;
}

#lobby > button.start_button {
  font-size: clamp(1rem, 0.049rem + 1.4vw, 3rem);
  visibility: hidden;
}

#lobby > button.start_enabled {
  visibility: visible;
}

#game {
  height: 100%;
  width: 100%;
  position: relative
}

#score {
  position: absolute;
  z-index: 2;
}

/* .player_button {
  cursor: pointer;
  width: 20%;
  padding: 10px;
  } */
  
  /* button 53 media query
  @media (min-width: 768px) {
    .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
    }
} */