/* Tab Buttons */

.game-modes {
    width: 100%;
    aspect-ratio: 2 / 1;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(253, 248, 229);
  }

.game-selector {
    display: none;
  }

.game-selector.active {
    width: 100%;
    aspect-ratio: 2 / 1;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }  

.game-selector > div {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
  }

/* .game-selector  */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4 / 1;
  background-color: #ffba26;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  font-size: clamp(1.6rem, 0.049rem + 2vw, 4rem);
  font-weight: 700;
  justify-content: center;
  /* line-height: 1.75rem; */
  padding: 1.2rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  /* max-width: 460px; */
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* .game-selector  */
button:focus {
  outline: 0;
}

/* .game-selector  */
button:hover 
{
  background-color: #d1981d;

}

/* .game-selector  */
button:after {
  content: '';
  position: absolute;
  border: 0.2vw solid rgb(253, 248, 229);
  bottom: 0.2em;
  left: 0.2em;
  width: calc(100% - 0.1vw);
  height: calc(100% - 0.1vw);
}

/* .game-selector  */
button:hover:after {
  bottom: 0.1em;
  left: 0.1em;
}

.game-selector .online {
  display: none;
}

.game-selector .online.active {
  display: flex;
}

.game-selector form {
  width: 80%;
  height: 80%;
  font-size: clamp(0.8rem, 0.024rem + 1vw, 2rem);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-selector form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.game-selector form button {
  width: 20%;
}

.score-option input[type="radio"] {
  display: none;
}

.score-option span {
  display: inline-block;
  color: #1d1d1d;
  padding: 10px 20px;
  margin: 0 5px;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  /* font-size: clamp(0.8rem, 0.024rem + 1vw, 2rem); */
  text-align: center;
  background-color:#d1981d;
  transition: all 0.3s ease;
}

.score-option input[type="radio"]:checked + span {
  background-color:#ffba26;
  color:#000000;
  border-color:#a8a8a8;
  ;
}

#lobby-list {
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.lobby-item {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  background-color: #ffba26;
  color: #000000;
  border-radius: 20px;
  gap: 5px;
  padding: 10px;
  align-items: center;
  width: 50%;
  /* aspect-ratio: 1 / 10; */
  /* min-width: 200px; */
}

.lobby-item:hover {
  background-color: #d1981d;
}

.lobby-item > img
{
  width: 10%;
  object-fit: cover;
}
.game-selector .start_round {
  font-size: clamp(0.8rem, 0.049rem + 1vw, 2rem);
  padding: 1rem 2rem;
  width: 50%;
}

.game-selector .start_round.disabled {
  background-color: #8d8d8d;
  color: #727272;
}

@keyframes fightingText {
  0%   { content: "Fighting."; }
  33%  { content: "Fighting.."; }
  66%  { content: "Fighting..."; }
  100% { content: "Fighting."; }
}

.fighting::after {
  content: "Fighting.";
  animation: fightingText 1.5s infinite steps(1);
}


#tournament-container div div .player_button {
  background-color: inherit;
  cursor:alias;
}

#tournament-container div div .player_button:hover::after {
  bottom: 0;
  left: 0;
}

#tournament-container div div .player_button::after {
  bottom: 0;
  left: 0;
}

#tournament-container div div .start_round::after {
  bottom: 0.2vw;
  left: 0.2vw;
}

#tournament-container div div .start_round:hover::after {
  bottom: 0.1vw;
  left: 0.1vw;
}

/* .game-selector .deactive {

} */

#lobby {
  height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#lobby > div {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* #lobby > div > button {
  aspect-ratio: 3 / 1;
  position: relative;
  background-color: inherit;
  color: #E5E7EB;
}

#lobby > div > button:hover {
  background-color: #1d1d1d;
}

#lobby > div > button > p {
  font-size: clamp(1.6rem, 0.049rem + 2vw, 4rem);
  position: absolute;
  top: 0;
  transform: translateY(-1.5em);
}

#lobby > div > button.player_selected {
  background-color:#1d1d1d;
}

#lobby > button.start_button {
  font-size: clamp(1rem, 0.049rem + 1.4vw, 3rem);
  visibility: hidden;
}

#lobby > button.start_enabled {
  visibility: visible;
} */

.game-selector .player_button {
  aspect-ratio: 3 / 1;
  position: relative;
  background-color: inherit;
  color: #E5E7EB;
}

.game-selector .player_button:hover {
  background-color: #1d1d1d;
}

.game-selector .player_button > p {
  font-size: clamp(1.6rem, 0.049rem + 2vw, 4rem);
  position: absolute;
  top: 0;
  transform: translateY(-1.5em);
}

.game-selector .player_button.player_selected {
  background-color:#1d1d1d;
}

/* .game-selector  */
button.start_button {
  font-size: clamp(1rem, 0.049rem + 1.4vw, 3rem);
  padding: 0.8em 0;
  visibility: hidden;
}

/* .game-selector  */
button.start_enabled {
  visibility: visible;
}


#tournament-check {
  display: none;
}

#tournament-check.active {
  display: flex;
}

#game {
  height: 90%;
  width: 100%;
  position: relative
}

#score {
  position: absolute;
  z-index: 2;
}

#draw-type {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  bottom: 0;
  gap: 2px;
}

#draw-type > p{
  padding: 5px;
  background-color: rgb(180, 180, 180);
  color: #000000;
  cursor: pointer;
}

#draw-type > p.active {
  background-color: #8d8d8d;
}

#tournament {
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
}

#tournament .disable {
  display: none;
}

#player-container > button::after {
  bottom: 2px;
  left: 2px;
}

#player-container > button:hover {
  background-color: inherit;
}

#tournament > #tournament-container {
  position: absolute;
  flex-direction: row;
  width: 100%;
  z-index: 2;
  top: 5vh;
  height: 100%;
}
#tournament > div {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  align-items: center;
}

#tournament > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5vh;
}

#tournament-prep > div {
  gap: 15px;
}

#tournament > div > div > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}


#game-canvas {
  border: 2px solid white;
}

#start_tournament {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2vh;
  z-index: 3;
}
