body {
	margin: 0;
}
#three-canvas {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgb(228, 18, 210);
	border-color: crimson;
}

.reset-button {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.reset-button:hover {
    background-color: #0056b3;
    transform: translateX(-50%) scale(1.05);
}