.sign {
    z-index: 2;
    display: none;
    height: 80%;
    width: auto;
    aspect-ratio: 3 / 5;
    background-color: black;
    position: absolute;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.sign.active {
    display: flex;
}

.sign span {
    background-color: yellow;
    color: black;
    padding: 2px;
    cursor: pointer;
}

.sign-in {
    display: none;
    border: 2px solid white;
    width: 80%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sign-in.active {
    display: flex;
}

.sign-background {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
}