.profile
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.profile section
{
    width: 50vw;
    min-width: 200px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    gap: 2vh;
}

#avatar-container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    height: 20vw;
}

/* #change-avatar-btn {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 1.4rem;
} */

#user-stats {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

#two-factor-section {
    padding: 15px;
}

#friends-list ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    list-style-type: none;
    padding: 0;
}

#friends-list li {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-bottom: 10px;
}

#friend-username {
    padding: 5px;
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(253, 248, 229);
    border-radius: 3px;
    color: rgb(253, 248, 229);
    margin-right: 10px;
}

/* #add-friend-btn {
    padding: 5px 10px;
    font-size: 1.4rem;
} */

.profile button {
    font-size: clamp(0.8rem, 0.049rem + 1vw, 2rem);
    /* max-width: 200px; */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgba(253, 248, 229, 0.3);
    font-size: 1.6rem;
}

th {
    background-color: rgba(255, 255, 255, 0.1);
}

#update-form {
    display: flex;
    height: 100%;
    gap: 1vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#game-tabs {
    display: flex;
    gap: 1vw;
}

/* @media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .navbar {
        flex-direction: column;
        height: auto;
        padding: 15px;
    }

    .navbar > div:last-of-type {
        margin-top: 10px;
    }

    header .navbar button {
        font-size: 12px;
        padding: 8px 10px;
    }

    main > section {
        width: 95vw;
    }
} */
